img {
  display: block;

  max-width: 100%;
  height: auto;

  pointer-events: none;
  @include prefix((user-select: none));

  &::selection {
    background: transparent;
  }

  &::-moz-selection {
    background: transparent;
  }

  /* fade image in after load */
  &.lazyload,
  &.lazyloading {
    @include transition(opacity 650ms);
  	opacity: 0;
  }

  &.lazyloaded {
    @include transition(opacity 650ms);
  	opacity: 1;
  }
}
