// Styles for SASS placeholders
// Grid
%cols {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: $bootstrap-gutter / 2;
  padding-left: $bootstrap-gutter / 2;
}

// Buttons
%btn {
  display: inline-block;
  font-weight: normal;
  text-align: center;
  // white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 1.4rem 1.2rem;
  border-radius: 0;
  transition: all 0.15s ease-in-out;

  &:focus,
  &:hover {
    text-decoration: none;
  }

  &:focus,
  &.focus {
    outline: 0;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
  }

  &.disabled,
  &:disabled {
    opacity: .65;
  }

  &:active,
  &.active {
    background-image: none;
  }

  &::before {
    display: none;
  }
}
