a {
  position: relative;
  color: inherit;
  @include transition(all 150ms ease-in-out);

  &::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;

    width: 0%;
    margin-top: 2px;
    border-bottom: 1px solid $color-primary;

    @include prefix((transform: translateX(-50%)));
    @include transition(all 150ms ease-in-out);
  }

  &:hover,
  &:focus {
    color: $color-primary;
    text-decoration: none;

    &::before {
      width: 100%;
    }
  }
}
