$main-nav-size: 16;
$main-nav-size-sm: 18;

#main-nav {
  @include col-auto;
  @include ml-auto;

  position: static;
  @include prefix((align-self: center));

  @include media-sm {
    @include ml-none;
  };

  &-wrapper {
    @include col;
    @include col-sm-6;
    @include col-xl-5;
    @include flexbox;
    @include prefix((flex-direction: column), ms);

    position: fixed;
    top: 0;
    right: -100%;

    height: 100%;

    padding: 0;

    background: rgba(51,48,63, .97);

    z-index: 3;

    @include transition(all 850ms cubic-bezier(0.43, 0.09, 0, 1));

    @include media-sm {
      right: -50%;
    }

    @include media-xl {
      right: -41.66667%;
    };

    .admin-bar & {
      top: 46px;

      @media (min-width: 783px) {
        top: 32px;
      }
    }

    &.active {
      right: 0;
    }
  }

  .main-nav {
    &-head {
      @include row;
      @include custom-gutter(23px);
      @include header-padding(-22px, -25px);

      margin: 0;

      @include media-sm {
        @include header-padding(-13px, -16px);
      };

      @include media-md {
        @include header-padding(-5px, -7px);
      };
    }

      &-toggle {
        &-container {
          @include col-auto;
          @include col-sm-3;

          @include media-sm {
            @include ml-auto;
          };
        }

        @include btn-clear;
        @include icon-font-prep;
        @extend .icon-button-menu;
        @include font-size(1.2);

        padding: 0;

        @include media-sm {
          display: block;
          @include font-size(1.5);

          padding: .1rem 0;
        };

        @include media-md {
          @include font-size(1.8);
        };

        &::before {
          display: block;
          @include transition(all 150ms ease-in-out);
        }

        &:hover,
        &:focus {
          &::before {
            color: $color-primary;
          }
        }

        &[data-toggle="close"] {
          @extend .icon-button-menu-close;
          @include font-size(2.2);

          @include media-sm {
            @include font-size(2.6);
          };

          @include media-md {
            @include font-size(3);
          };
        }
      }

    &-body {
      -ms-flex: 1;
      flex: 1;

      height: 100%;
      padding: (112px - ($main-nav-size * 1px)) 0 0;

      overflow: hidden;

      @include media-sm {
        padding: (80px - ($main-nav-size * 1px)) 0 0;
      };

      @include media-md {
        padding: (120px - ($main-nav-size-sm * 1.3333333333px)) 0 (144px - ($main-nav-size-sm * 1.3333333333px));
      };

      .admin-bar & {
        padding: (112px - ($main-nav-size * 1px)) 0 (62px - ($main-nav-size * 1px));
      }

      // Scroll container
      &-wrapper {
        height: 100%;

        overflow: hidden;
        overflow-y: auto;
      }
    }
  }

      #primary-menu {
        list-style: none;

        padding: 0;
        margin: 0;

        text-align: right;

        li {
          @include font-size(1.6);
          font-family: 'Gilroy';
          letter-spacing: 6px;

          margin-bottom: 0;

          @include media-sm {
            @include font-size(2);
          };

          @include media-md {
            @include font-size(2.4);
          };

          a {
            display: block;

            border: 0;
            padding: {
              right: 3.875em;
              left: $bootstrap-gutter / 2;
            }

            font-weight: bold;
            text-transform: uppercase;

            @include transition(all 600ms ease-in-out);

            @include media-sm {
              padding-right: 3em;
            };

            @include media-lg {
              padding-right: 4.055555555em;
            };

            @include media-xl {
              padding-right: 5.1111111111em;
            };

            &::before {
              display: none;
            }

            span {
              display: block;
              position: relative;

              padding: 1em 0;

              @include media-sm {
                padding: .7em 0;
              };

              &::before {
                content: '';
                display: block;
                width: 100%;

                position: absolute;
                top: 50%;
                left: 133.33333%;

                border-bottom: 2px solid white;
                margin-left: .75em;

                @include prefix((transform: translateY(-50%)))
                @include transition(all 600ms ease-in-out);
              }
            }
          }

          &:hover,
          &.current-menu-item,
          &.current-page-ancestor {
            a {
              color: $color-primary;
              padding-right: 6.125em;

              @include media-md {
                padding-right: 5em;
              };

              @include media-lg {
                padding-right: 6.5em;
              };

              @include media-xl {
                padding-right: 8em;
              };

              span::before {
                left: 100%;
                border-color: $color-primary;
              }
            }
          }
        }
      }
}

#footer-nav {
  @include col-auto;
  @include prefix((align-self: center));

  text-align: center;

  @include media-md {
    @include prefix((align-self: flex-end));
  };

  ul {
    list-style: none;
    padding: 0;
    margin: 0 0 1.5rem 0;

    @include media-lg {
      @include inline-nav(46px);
      margin-bottom: 2rem;
    };

    @include media-lg {
      @include inline-nav(64px);
      margin-bottom: 2rem;
    };

  }


  li {
    @include font-size(1.2);

    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: left;

    @include media-sm {
      @include font-size(1.5);
    };

    @include media-md {
      @include font-size(1.7);
    };

    @include media-lg {
      @include font-size(1.4);

      margin-bottom: 0;
      border-right: 1px solid white;

      letter-spacing: 0.5px;
    };

    @include media-xl {
      @include font-size(1.7);
      letter-spacing: 2px;
    };

    &:last-child {
      border: 0;
    }
  }
}
