h1,
.h1,
h2,
.h2 {
  @include last-child;
}

h1,
.h1 {
  // @include font-size(1.6);
  // letter-spacing: 2px;
  //
  // margin-bottom: .7em;
  //
  // @include media-sm {
  //   @include font-size(2.3);
  //   letter-spacing: 4px;
  // };
  //
  // @include media-md {
  //   @include font-size(3);
  //   letter-spacing: 6px;
  // };
  //
  // @include media-lg {
  //   @include font-size(4.4);
  //   letter-spacing: 10px;
  // };

  @include font-size(2);
  letter-spacing: 2px;

  margin-bottom: .7em;

  @include media-sm {
    @include font-size(2.6);
    letter-spacing: 4px;
  };

  @include media-md {
    @include font-size(3.2);
    letter-spacing: 6px;
  };

  @include media-lg {
    @include font-size(3.6);
    letter-spacing: 10px;
  };

  small {
    @include font-size(1.4);

    @include media-sm {
      @include font-size(1.8);
    };

    @include media-md {
      @include font-size(2.2);
    };

    @include media-lg {
      @include font-size(2.4);
    };
  }
}

h2,
.h2 {
  // @include font-size(1.3);
  // letter-spacing: 2px;
  // line-height: 1.4;
  //
  // @include media-sm {
  //   @include font-size(1.8);
  //   letter-spacing: 3px;
  // };
  //
  // @include media-md {
  //   @include font-size(2.3);
  //   letter-spacing: 5px;
  // };
  //
  // @include media-lg {
  //   @include font-size(3.2);
  //   letter-spacing: 8px;
  // };

  @include font-size(1.6);
  letter-spacing: 2px;
  line-height: 1.4;

  @include media-sm {
    @include font-size(2);
    letter-spacing: 3px;
  };

  @include media-md {
    @include font-size(2.4);
    letter-spacing: 5px;
  };

  @include media-lg {
    @include font-size(3.2);
    letter-spacing: 8px;
  };
}

h3,
.h3 {
  @include font-size(1.6);
  line-height: 1.4;
  letter-spacing: 8px;

  margin-bottom: 1.3em;

  @include media-sm {
    @include font-size(2);
  };

  @include media-md {
    @include font-size(2.4);
  };
}
