@font-face {
  font-family: 'pluteos';
  src:  url('#{$fonts-path}/pluteos.eot?dtsduc');
  src:  url('#{$fonts-path}/pluteos.eot?dtsduc#iefix') format('embedded-opentype'),
    url('#{$fonts-path}/pluteos.ttf?dtsduc') format('truetype'),
    url('#{$fonts-path}/pluteos.woff?dtsduc') format('woff'),
    url('#{$fonts-path}/pluteos.svg?dtsduc#pluteos') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  &::before {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'pluteos' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@function unicode($str) {
  @return unquote("\"") + $str + unquote("\"");
}

.icon-chevron-down {
  &:before {
    content: unicode($icon-chevron-down);
  }
}
.icon-chevron-up {
  &:before {
    content: unicode($icon-chevron-up);
  }
}
.icon-chevron-left {
  &:before {
    content: unicode($icon-chevron-left);
  }
}
.icon-chevron-right {
  &:before {
    content: unicode($icon-chevron-right);
  }
}
.icon-button-menu-close {
  &:before {
    content: unicode($icon-button-menu-close);
    color: #fff;
  }
}
.icon-button-menu {
  &:before {
    content: unicode($icon-button-menu);
    color: #fff;
  }
}
