html {
  font-size: 62.5%;
}

body {
  font-family: "Cormorant Garamond";
  @include font-size(1.4);
  color: white;
  line-height: 1.5;

  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;

  @include media-sm {
    @include font-size(1.9);
  };

  @include media-md {
    @include font-size(2.4);
  };
}

p,
.p {
  @include last-child;

  font-size: inherit;
  line-height: inherit;
  letter-spacing: 2px;

  margin-bottom: 1.4em;

  small {
    @include font-size(1.2);

    @include media-sm {
      @include font-size(1.7);
    };
  }
}
