// Variables for grid system
// Default bootstrap gutter included
$bootstrap-gutter: 30px;

// Breakpoints
$media-xs: 375px;
$media-sm: 576px;
$media-md: 768px;
$media-lg: 992px;
$media-xl: 1200px;
$media-xxl: 1440px;
