@mixin btn-primary {
  @extend %btn;
  @extend .icon-chevron-right;
  @include icon-font-prep;
  @include font-size(1.2);

  position: relative;
  min-width: 110px;

  text-align: left;
  text-transform: uppercase;
  letter-spacing: 4px;

  border: 1px solid white;
  padding: .393em 1.2em .393em 2em;

  background: transparent;

  @include media-sm {
    @include font-size(1.5);
    padding: .5em 1.3em .5em 1.9em;
    min-width: 145px;
  };

  @include media-md {
    @include font-size(2);
    padding: .6em 1.4em .6em 1.85em;
    min-width: 180px;

    letter-spacing: 5px;
  };

  &::before {
    @include font-size(.6);
    position: absolute;
    top: 50%;
    left: auto;
    @include prefix((transform: translateY(-50%)))

    display: block;
    margin-top: 0;
    margin-left: -1.2rem;
    border: 0;

    @include media-sm {
      @include font-size(.7);
    };

    @include media-md {
      @include font-size(.8);
    };
  }

  &:hover,
  &:focus,
  &:active,
  &:not(:disabled):not(.disabled):active {
    color: $color-primary;

    border-color: $color-primary;
    background: transparent;
  }
}

@mixin btn-secondary {
  @extend %btn;
}

@mixin btn-clear {
  @extend %btn;

  border: 0;
  background: transparent;
}

@mixin btn-big {
  @include font-size(1.4);
  padding: .5em 1.9em;

  @include media-sm {
    @include font-size(1.8);
    letter-spacing: 4px;
    padding: .57em 2em .57em 2.45em;
  };

  @include media-md {
    @include font-size(2.4);
    letter-spacing: 9px;
    padding: .637em 2.1em .637em 2.818181em;
  };

  &::before {
    @include font-size(.6);

    display: block;
    margin-left: -1rem;

    @include media-sm {
      @include font-size(.9);
      margin-left: -1.4rem;
    };

    @include media-md {
      @include font-size(1.2);
      margin-left: -1.8rem;
    };
  }
}

@mixin btn-small {
  min-width: 0;

  @include media-md {
    @include font-size(1.2);
    letter-spacing: 5px;

    padding: .7em 1em .7em 1.85em;
  };

  &::before {
    display: block;

    @include media-md {
      @include font-size(.6);
      @include prefix((transform: translateY(-70%)))

      margin-left: -.9rem;
    };
  }
}
