@mixin container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: $bootstrap-gutter / 2;
  padding-left: $bootstrap-gutter / 2;
}

@mixin container {
  @include container-fluid;

  @media (min-width: 576px) {
    & {
      max-width: 540px;
    }
  }

  @media (min-width: 768px) {
    & {
      max-width: 720px;
    }
  }

  @media (min-width: 992px) {
    & {
      max-width: 960px;
    }
  }

  @media (min-width: 1200px) {
    & {
      max-width: 1140px;
    }
  }
}

@mixin container-custom {
  @include container-fluid;

  @media (min-width: 576px) {
    & {
      max-width: 570px;
    }
  }

  @media (min-width: 768px) {
    & {
      max-width: 750px;
    }
  }

  @media (min-width: 992px) {
    & {
      max-width: 990px;
    }
  }

  @media (min-width: 1200px) {
    & {
      max-width: 1440px;
    }
  }
}

@mixin row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  margin: {
    right: -$bootstrap-gutter / 2;
    left: -$bootstrap-gutter / 2;
  }
}

@mixin custom-gutter($gutter) {
  margin: {
    left: -$gutter;
    right: -$gutter;
  }

  & > * {
    padding: {
      left: $gutter;
      right: $gutter;
    }
  }
}

@mixin col {
  @extend %cols;

  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

@mixin col-sm {
  @extend %cols;

  @media (min-width: 576px) {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
}

@mixin col-md {
  @extend %cols;

  @media (min-width: 768px) {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
}

@mixin col-lg {
  @extend %cols;

  @media (min-width: 992px) {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
}

@mixin col-xl {
  @extend %cols;

  @media (min-width: 1200px) {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
}

@mixin col-1 {
  @extend %cols;

  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

@mixin col-sm-1 {
  @extend %cols;

  @media (min-width: 576px) {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
}

@mixin col-md-1 {
  @extend %cols;

  @media (min-width: 768px) {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
}

@mixin col-lg-1 {
  @extend %cols;

  @media (min-width: 992) {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
}

@mixin col-xl-1 {
  @extend %cols;

  @media (min-width: 1200px) {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
}

@mixin col-2 {
  @extend %cols;

  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

@mixin col-sm-2 {
  @extend %cols;

  @media (min-width: 576px) {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
}

@mixin col-md-2 {
  @extend %cols;

  @media (min-width: 768px) {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
}

@mixin col-lg-2 {
  @extend %cols;

  @media (min-width: 992) {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
}

@mixin col-xl-2 {
  @extend %cols;

  @media (min-width: 1200px) {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
}

@mixin col-3 {
  @extend %cols;

  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

@mixin col-sm-3 {
  @extend %cols;

  @media (min-width: 576px) {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@mixin col-md-3 {
  @extend %cols;

  @media (min-width: 768px) {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@mixin col-lg-3 {
  @extend %cols;

  @media (min-width: 992) {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@mixin col-xl-3 {
  @extend %cols;

  @media (min-width: 1200px) {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@mixin col-4 {
  @extend %cols;

  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

@mixin col-sm-4 {
  @extend %cols;

  @media (min-width: 576px) {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

@mixin col-md-4 {
  @extend %cols;

  @media (min-width: 768px) {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

@mixin col-lg-4 {
  @extend %cols;

  @media (min-width: 992) {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

@mixin col-xl-4 {
  @extend %cols;

  @media (min-width: 1200px) {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

@mixin col-5 {
  @extend %cols;

  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

@mixin col-sm-5 {
  @extend %cols;

  @media (min-width: 576px) {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
}

@mixin col-md-5 {
  @extend %cols;

  @media (min-width: 768px) {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
}

@mixin col-lg-5 {
  @extend %cols;

  @media (min-width: 992) {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
}

@mixin col-xl-5 {
  @extend %cols;

  @media (min-width: 1200px) {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
}

@mixin col-6 {
  @extend %cols;

  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

@mixin col-sm-6 {
  @extend %cols;

  @media (min-width: 576px) {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@mixin col-md-6 {
  @extend %cols;

  @media (min-width: 768px) {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@mixin col-lg-6 {
  @extend %cols;

  @media (min-width: 992) {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@mixin col-xl-6 {
  @extend %cols;

  @media (min-width: 1200px) {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@mixin col-7 {
  @extend %cols;

  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

@mixin col-sm-7 {
  @extend %cols;

  @media (min-width: 576px) {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
}

@mixin col-md-7 {
  @extend %cols;

  @media (min-width: 768px) {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
}

@mixin col-lg-7 {
  @extend %cols;

  @media (min-width: 992) {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
}

@mixin col-xl-7 {
  @extend %cols;

  @media (min-width: 1200px) {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
}

@mixin col-8 {
  @extend %cols;

  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

@mixin col-sm-8 {
  @extend %cols;

  @media (min-width: 576px) {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
}

@mixin col-md-8 {
  @extend %cols;

  @media (min-width: 768px) {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
}

@mixin col-lg-8 {
  @extend %cols;

  @media (min-width: 992) {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
}

@mixin col-xl-8 {
  @extend %cols;

  @media (min-width: 1200px) {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
}

@mixin col-9 {
  @extend %cols;

  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

@mixin col-sm-9 {
  @extend %cols;

  @media (min-width: 576px) {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
}

@mixin col-md-9 {
  @extend %cols;

  @media (min-width: 768px) {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
}

@mixin col-lg-9 {
  @extend %cols;

  @media (min-width: 992) {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
}

@mixin col-xl-9 {
  @extend %cols;

  @media (min-width: 1200px) {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
}

@mixin col-10 {
  @extend %cols;

  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

@mixin col-sm-10 {
  @extend %cols;

  @media (min-width: 576px) {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
}

@mixin col-md-10 {
  @extend %cols;

  @media (min-width: 768px) {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
}

@mixin col-lg-10 {
  @extend %cols;

  @media (min-width: 992) {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
}

@mixin col-xl-10 {
  @extend %cols;

  @media (min-width: 1200px) {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
}

@mixin col-11 {
  @extend %cols;

  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

@mixin col-sm-11 {
  @extend %cols;

  @media (min-width: 576px) {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
}

@mixin col-md-11 {
  @extend %cols;

  @media (min-width: 768px) {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
}

@mixin col-lg-11 {
  @extend %cols;

  @media (min-width: 992) {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
}

@mixin col-xl-11 {
  @extend %cols;

  @media (min-width: 1200px) {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
}

@mixin col-12 {
  @extend %cols;

  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

@mixin col-sm-12 {
  @extend %cols;

  @media (min-width: 576px) {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@mixin col-md-12 {
  @extend %cols;

  @media (min-width: 768px) {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@mixin col-lg-12 {
  @extend %cols;

  @media (min-width: 992) {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@mixin col-xl-12 {
  @extend %cols;

  @media (min-width: 1200px) {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@mixin col-auto {
  @extend %cols;

  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}

@mixin col-sm-auto {
  @extend %cols;

  @media (min-width: 576px) {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
}

@mixin col-md-auto {
  @extend %cols;

  @media (min-width: 768px) {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
}

@mixin col-lg-auto {
  @extend %cols;

  @media (min-width: 992px) {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
}

@mixin col-xl-auto {
  @extend %cols;

  @media (min-width: 1200px) {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
}


@mixin ml-auto {
  margin-left: auto !important;
}

@mixin mr-auto {
  margin-right: auto !important;
}


@mixin ml-none {
  margin-left: 0 !important;
}

@mixin mr-none {
  margin-right: 0 !important;
}
