@mixin inline-nav($gutter: $bootstrap-gutter) {
  padding-left: 0;
  list-style: none;

  &::after {
    display: block;
    clear: both;
    content: "";
  }

  li {
    float: left;
    padding: {
      right: $gutter / 2;
      left: $gutter / 2;
    }

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}
