#content {
  margin-top: 41px;
  overflow: hidden;

  @include media-sm {
    margin-top: 63px;
  };

  @include media-md {
    margin-top: 90px;
  };

  .home & {
    margin-top: 0;
  }
}

.content-block {
  position: relative;
  margin-bottom: 0;

  .content-image {
    height: 450px;

    img {
      position: absolute;
      top: 0;
      left: 0;

      max-width: none;
      width: auto;
      height: 100%
    }

    @include media-xs {
      height: 350px;
    };

    @include media-sm {
      height: auto;

      img {
        position: static;

        max-width: 100%;
        width: 100%;
        height: auto;
      }
    }

    @include media-md {
      height: 700px;

      img {
        position: absolute;
        top: 0;
        left: 0;

        max-width: none;
        width: auto;
        height: 100%
      }
    };

    @include media-lg {
      height: auto;

      img {
        position: static;

        max-width: 100%;
        width: 100%;
        height: auto;
      }
    };

    &.right {
      img {
        left: auto;
        right: 0;
      }
    }

    &.center {
      img {
        left: 50%;
        @include prefix((transform: translateX(-50%)));

        @include media-sm {
          @include prefix((transform: none));
        }

        @include media-md {
          left: 50%;
          @include prefix((transform: translateX(-50%)));
        }

        @include media-lg {
          @include prefix((transform: none));
        }
      }
    }
  }

  &-wrapper {
    padding: {
      top: 2.8rem;
      bottom: 2.8rem;
    }

    @include media-sm {
      padding: {
        top: 2.4rem;
        bottom: 2.4rem;
      }
    };

    @include media-md {
      padding: {
        top: 6rem;
        bottom: 6rem;
      }
    };

    .row {
      @include custom-gutter(5px);

      @include media-sm {
        @include custom-gutter($bootstrap-gutter / 2);
      };
    }

    &.__no-content {
      display: none;

      @include media-md {
        display: block;
      };
    }
  }

  &-text {
    @include prefix((align-self: center));
    text-align: center;
  }

  // ---Block classes--
  // Gradient block
  &.__gradient {
    .content-block-wrapper {
      // @include linear-gradient(to right, rgba(140,142,163,0.75) 0%, rgba(51,48,63,1) 100%);
      // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf8c8ea3', endColorstr='#33303f',GradientType=1 ); /* IE6-9 */

      background: $color-overlay;
    }
  }

  &.__gradient-2 {
    .content-block-wrapper {
      @include linear-gradient(to right, rgba(140,142,163,0.75) 0%, rgba(51,48,63,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf8c8ea3', endColorstr='#33303f',GradientType=1 ); /* IE6-9 */
    }
  }

  &.__bg-dark {
    .content-block-wrapper {
      background: #121418;
    }

    &-transparent {
      .content-block-wrapper {
        background: $color-overlay;
      }
    }
  }

  // Text alignments
  &.text-left {
    .content-block-text {
      text-align: left !important;
    }
  }

  &.text-right {
    .content-block-text {
      text-align: right !important;
    }
  }

  &.text-center {
    .content-block-text {
      text-align: center !important;
    }
  }

  &.__margin-bottom-big {
    .content-block {
      &-wrapper:last-child {
        padding-bottom: 4.2rem !important;

        @include media-sm {
          padding-bottom: 19rem !important;
        };
      }
    }
  }

  &.__margin-top-big {
    .content-block {
      &-wrapper {
        padding-top: 5.6rem !important;

        @include media-sm {
          padding-top: 4.8rem !important;
        };

        @include media-md {
          padding-top: 12rem !important;
        };
      }
    }
  }

  &.__margin-top-small {
    .content-block {
      &-wrapper {
        padding-top: 2.8rem !important;

        @include media-sm {
          padding-top: 2.4rem !important;
        };

        @include media-md {
          padding-top: 6rem !important;
        };
      }
    }
  }

  // ---Universal blocks--
  // Overlay block with background image
  &.__overlay-absolute {
    overflow: hidden;

    .content-image {
      margin-bottom: -12.5%;
    }

    .content-block {
      &-wrapper {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
      }
    }

    h1,
    .h1 {
      @include media-sm {
        @include font-size(3.2);
      };

      @include media-md {
        @include font-size(3.6);
      };

      @include media-lg {
        @include font-size(4.2);
      };
    }
  }

  &.__overlay-bg {
    .content-block {
      &-wrapper {
        background: $color-overlay;

        @include media-sm {
          padding: {
            top: 6.4rem;
            bottom: 6.4rem;
          }
        };

        @include media-md {
          padding: {
            top: 10rem;
            bottom: 10rem;
          }
        };
      }
    }
  }

  &.__overlay-bg-small {
    @extend .__overlay-bg;

    .content-block-wrapper {
      @include media-sm {
        padding: {
          top: 4.2rem;
          bottom: 4.2rem;
        }
      };

      @include media-md {
        padding: {
          top: 4.5rem;
          bottom: 4.5rem;
        }
      };
    }
  }

  &.__overlay-bg-2 {
    @extend .__overlay-bg;

    .content-block {
      &-wrapper {
        @include linear-gradient(to right, rgba(140,142,163,0.75) 0%, rgba(51,48,63,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf8c8ea3', endColorstr='#33303f',GradientType=1 ); /* IE6-9 */
      }
    }
  }

  // One column text block/normal text block
  &.__one-column-text {
    .content-block {
      &-wrapper {
        padding: {
          top: 4.2rem;
          bottom: 4.2rem;
        }

        @include media-sm {
          padding: {
            top: 9.6rem;
            bottom: 9.6rem;
          }
        };

        @include media-md {
          padding: {
            top: 15rem;
            bottom: 15rem;
          }
        };
      }

      &-text {
        text-align: left;
      }
    }
  }

  &.__one-column-text-small {
    .content-block {
      &-wrapper {
        padding: {
          top: 1.5rem;
          bottom: 1.5rem;
        }

        @include media-sm {
          padding: {
            top: 4.5rem;
            bottom: 4.5rem;
          }
        };
      }

      &-text {
        text-align: left;
      }
    }

    p {
      @include last-child;
      margin-bottom: 2.8em
    }
  }


  // Two column text block
  &.__two-column-text {
    .content-block {
      &-wrapper {
        padding: {
          top: 4.2rem;
          bottom: 4.2rem;
        }

        @include media-sm {
          padding: {
            top: 9.6rem;
            bottom: 9.6rem;
          }
        };

        @include media-md {
          padding: {
            top: 15rem;
            bottom: 15rem;
          }
        };
      }

      &-text {
        @include last-child;
        @include prefix((align-self: flex-start));

        margin-bottom: 4.2rem;

        @include media-sm {
          margin-bottom: 6.9rem;
        };

        @include media-md {
          margin-bottom: 9.6rem;
        };

        @include media-lg {
          margin-bottom: 0;
        };
      }
    }

    p {
      font-size: inherit;

      @include media-sm {
        @include font-size(1.9);
      };
    }
  }

  // ---Home page---
  // Intro block
  &.__home-intro {
    @extend .__gradient;
    min-height: 450px;

    @include media-xs {
      min-height: 350px;
    };

    @include media-sm {
      min-height: 0;
    };

    @include media-md {
      min-height: 650px;
    };

    @include media-xl {
      min-height: 700px;
    };

    .content-block {
      &-wrapper {
        position: absolute;
        top: 72px;
        left: 0;
        width: 100%;

        padding: {
          top: .8rem;
          bottom: .8rem;
        }

        z-index: 1;

        @include media-sm {
          top: 126px;

          padding: {
            top: 2.4rem;
            bottom: 2.4rem;
          }
        };

        @include media-md {
          top: 250px;
        };

        @include media-xl {
          top: 320px;
        };
      }

      &-image {
        text-align: right;

        img {
          display: inline-block;
          width: 40px;

          @include media-sm {
            width: 120px;
          };
        }
      }
    }

    h1 {
      @include media-lg {
        @include font-size(4.4);
        letter-spacing: 10px;
      };
    }

    &-animation {
      .content-image {
        img {
          @include prefix((transform: scale(1.14583333)));
        }
      }
    }
  }

  // Divider block
  &.__divider {
    overflow: visible;
    z-index: 2;

    .content-block {
      &-wrapper {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        @include prefix((transform: translateY(-50%)))

        // @include linear-gradient(to right, rgba(#7a94c4,.5) 0,rgba(#191c40,1) 100%);
        background: $color-overlay;
      }
    }
  }

  // Image only block
  &.__bottom-content {
    @extend .__overlay-bg;
    @extend .text-left;
    background: none;

    .content-block {
      &-wrapper {
        position: absolute;
        bottom: 0;
        left: 0;

        width: 100%;
        min-height: 25%;

        background: $color-overlay;

        @include media-sm {
          padding: {
            top: 2.4rem;
            bottom: 2.4rem;
          }
        };

        @include media-md {
          padding: {
            top: 6.4rem;
            bottom: 6.4rem;
          }
        };

        @include media-lg {
          padding: {
            top: 10rem;
            bottom: 10rem;
          }
        };
      }
    }
  }

  // Sideway content block
  &.__sideway-content {
    .content-block {
      &-wrapper {
        @include flexbox;
        //@include prefix((align-items: center), ms);
        @include prefix((align-items: flex-end), ms);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // Disabled because of scrollSpy
        // @include prefix((transform: translateY(-50%)))

        padding: 0;

        .container {
          padding-bottom: 10.2%;
        }

        //@include media-lg {
        //  @include prefix((align-items: flex-end), ms);
        //}

        @include media-xs {
          .container {
            padding-bottom: 10.2%;
            p {
              position: relative;
              .btn-big {
                position: absolute;
                right: -16.5%;
                bottom: 0;
              }
            }

          }
        };

        @include media-sm {
          margin-top: 8.333333%;
          .container {
            padding-bottom: 17%;
            p {
              position: relative;
              .btn-big {
                position: absolute;
                right: -14%;
                bottom: 0;
              }
            }
          }
        };

        @include media-md {
          margin: 0;
          .container {
            padding-bottom: 12.2%;
            p {
              position: relative;
              .btn-big {
                position: absolute;
                right: -10%;
                bottom: 0;
              }
            }
          }
        };

        @include media-lg {
          margin: 0;
          .container {
            padding-bottom: 8.2%;
            p {
              position: relative;
              .btn-big {
                position: absolute;
                right: -10%;
                bottom: 0;
              }
            }
          }
        };
      }
    }
  }

  // ---Team member listing page---
  // Team member block
  &.__team-member {
    overflow: hidden;

    .content-block {
      &-image {
        z-index: 2;

        a {
          position: static;

          &::before {
            display: none;
          }

          &:hover {
            color: white;

            .content-block-image-caption {
              opacity: 1;
            }
          }
        }

        img {
          @include media-sm {
            min-height: 420px;
          };

          @include media-md {
            min-height: 330px;
          };

          @include media-lg {
            min-height: 450px;
          };

          @include media-xl {
            min-height: 540px;
          };
        }

        &-caption {
          @include flexbox;
          @include transition(all 400ms ease-in-out);
          @include prefix((flex-direction: column), ms);
          @include prefix((justify-content: flex-end));

          position: absolute;
          top: $bootstrap-gutter / 2;
          bottom: $bootstrap-gutter / 2;
          left: $bootstrap-gutter / 2;
          right: $bootstrap-gutter / 2;

          display: none;
          margin: 4rem;
          padding: 3rem;

          text-align: center;

          background: $color-overlay;

          opacity: 0;
          z-index: 1;

          @include media-lg {
            @include flexbox;
          };
        }
      }

      &-text {
        padding: {
          top: 1.8rem;
          bottom: 2.8rem;
        }

        @include media-sm {
          padding: {
            top: 4.2rem;
            bottom: 4.2rem;
          }
        };

        @include media-lg {
          padding: {
            top: 8rem;
            bottom: 8rem;
          }
        };

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: -999%;
          right: -999%;

          display: block;
          height: 100%;

          background: $color-overlay;
          z-index: 1;
        }

        &-wrapper {
          position: relative;
          z-index: 1;
        }
      }
    }

    h2 {
      letter-spacing: 2px;
      margin-bottom: 1.2em;

      @include media-sm {
        letter-spacing: 7px;
        margin-bottom: 1em;
      };
    }

    h3 {
      @include font-size(2.4);
      letter-spacing: 6px;
      margin-bottom: 1.1em;
    }

    p {
      @include font-size(1.3);
      letter-spacing: 6px;
      text-transform: uppercase;
    }
  }

  // ---Detail team member page---
  // Detail team page header
  &.__header-member {
    @extend .__overlay-bg;
  }

  // Detail team page header
  &.__member-detail {
    @extend .__team-member;

    .content-block {
      &-text {
        @include prefix((align-self: flex-start));
        position: relative;

        @include media-md {
          position: static;
          padding: {
            top: 4.5rem;
            bottom: 4.5rem;
          }
        };

        &::before {
          top: auto;
          bottom: 0;

          height: 100%;

          @include media-md {
            height: 25%;
          };
        }
      }
    }

    p {
      letter-spacing: 2px;
      text-transform: none;

      @include media-sm {
        @include font-size(1.8);
      };

      small {
        @include font-size(1.3);
        letter-spacing: 3px;
      }
    }
  }

  // ---Sector & Clients---
  // Intro block
  &.__intro {
    @extend .__home-intro;

    @include media-md {
      min-height: 600px;
    };

    @include media-xl {
      min-height: 850px;
    };

    .content-block {
      &-wrapper {
        top: 240px;

        @include media-sm {
          top: 200px;
        };

        @include media-md {
          top: 360px;
        };

        @include media-xl {
          top: 440px;
        };

        @include media-xxl {
          top: 50%;
        };
      }

      &-image {
        img {
          width: 100%;
        }
      }
    }
  }

  // ---Solutions---
  // Matrix
  &.__matrix-block {
    .row {
      @include custom-gutter($bootstrap-gutter / 2);
      margin-bottom: -4.8rem;

      @include media-md {
        @include custom-gutter(25px);
        margin-bottom: -6rem;
      };
    }

    .content-block {
      &-wrapper {
        padding: {
          top: 4.8rem;
          bottom: 9.4rem;
        }

        @include media-sm {
          padding: {
            top: 8.4rem;
            bottom: 8.4rem;
          }
        };

        @include media-md {
          padding: {
            top: 12rem;
            bottom: 19rem;
          }
        };
      }

      &-text {
        align-self: flex-start;
        margin-bottom: 4.8rem;

        @include media-md {
          margin-bottom: 6rem;
          text-align: left;
        };

        &::before {
          display: none;
        }

        img {
          @include prefix((transform: scale(1.1)));
          @include transition(transform 650ms ease-in-out);

          display: inline;
        }

        p {
          @include transition(all 150ms ease-in-out);
          @include font-size(1.9);

          line-height: 1.1;

          @include media-md {
            @include font-size(2.4);
          };
        }

        &.current-matrix-item,
        &:hover {
          color: $color-primary;

          img {
            @include prefix((transform: scale(1.25)));
          }
        }

        &.current-matrix-item {
          .content-block-image-wrapper {
            &::before {
              content: '';
              display: block;
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;

              background: $color-overlay;
              z-index: 1;
            }
          }
        }
      }

      &-image-wrapper {
        position: relative;

        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1.5rem;
        overflow: hidden;

        @include media-sm {
          max-width: none;
        };
      }
    }
  }

  // Accordion
  &.__accordion-block {
    @extend .text-left;
    @extend .__margin-bottom-big;

    .content-block {
      &-wrapper {
        &:last-child {
          padding-bottom: 9.4rem !important;

          @include media-sm {
            padding-bottom: 8.2rem !important;
          };

          @include media-md {
            padding-bottom: 19rem !important;
          };
        }
      }

      &-text-wrapper {
        .content-block-image-wrapper {
          margin-top: 2.8em;
          overflow: hidden;
          width: 100%;

          @include transition(all 650ms ease-in-out);

          img {
            margin-top: 0;
            width: 100%;

            @include transition(transform 650ms ease-in-out);
          }
        }

        &.collapse.show {
          .content-block-image-wrapper {
            width: 106.66666%;

            margin-top: 2.8em;
            margin-left: -3.33333%;

            img {
              @include prefix((transform: translateY(-10%)));
            }
          }
        }
      }
    }

    h1,
    .h1 {
      @include font-size(1.6);

      @include media-sm {
        @include font-size(2.2);
      };

      @include media-md {
        @include font-size(2.8);
      };

      @include media-lg {
        @include font-size(3.2);
      };
    }

    p {
      @include font-size(1.2);

      @include media-sm {
        @include font-size(1.6);
      };

      @include media-md {
        @include font-size(2);
      };
    }
  }

  // ---Contact---
  // Google Maps block
  &.__google-maps {
    @extend .__two-column-text;

    .content-block {
      &-wrapper {
        padding: {
          top: 4.5rem;
          bottom: 4.5rem;
        }

        background: $color-overlay;
      }

      &-text {
        @include prefix((align-self: center));
      }
    }
  }
}
