#footer {
  @extend #header;

  position: static;
  min-height: auto;

  padding: 0;

  background: white;

  .error404 & {
    position: absolute;
    top: auto;
    bottom: 0;

    z-index: 2;

    @include media-sm {
      position: static
    };
  }

  .container-fluid {
    padding: 20px 8%;

    @include linear-gradient(to right, rgba(140,142,163,0.75) 0%, rgba(51,48,63,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf8c8ea3', endColorstr='#33303f',GradientType=1 ); /* IE6-9 */

    @include media-sm {
      padding: {
        top: 27px;
        bottom: 27px;
      }
    };

    @include media-md {
      padding: {
        top: 35px;
        bottom: 35px;
      }
    };
  }

  .row {
    margin-bottom: 3rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .logo {
    @include col-auto;
    @include ml-auto;

    img {
      width: auto;
      height: 43px;

      @include media-sm {
        height: 64px;
      };

      @include media-md {
        height: 85px;
      };
    }
  }

  #slogan {
    @include col;

    display: block;
    margin-top: 1rem;

    @include media-sm {
      margin-top: 2rem;
    };

    h2 {
      @include font-size(.6);
      letter-spacing: 1px;

      @include media-sm {
        @include font-size(1);
        letter-spacing: 2px;
      };

      @include media-md {
        @include font-size(1.2);
        letter-spacing: 3px;
      };

      @include media-lg {
        @include font-size(1.5);
      };
    }
  }
}
