#bg-image {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  pointer-events: none;
  z-index: -1;

  background: url('images/fond_blau.jpg') top left no-repeat;
  background-size: cover;
}

#header {
  @include container-fluid;

  position: fixed;
  top: 0;
  left: 0;

  @include header-padding(-35px, -15px);
  padding: {
    left: 8%;
    right: 8%;
  }

  @include media-sm {
    @include header-padding(-17px, -7px);
  };

  @include media-md {
    @include header-padding();
  };

  background: rgba(#706776, .9);
  z-index: 3;

  .admin-bar & {
    top: 46px;

    @media (min-width: 783px) {
      top: 32px;
    }
  }

  & > .row {
    @include custom-gutter(5px);

    @include media-sm {
      @include custom-gutter($bootstrap-gutter / 2);
    };
  }
}

.logo,
#slogan {
  @include col-auto;
  @include prefix((align-self: flex-end));
}

.logo {
  margin-bottom: -2px;

  @include media-sm {
    margin-bottom: 0;
  };

  a {
    display: block;
    border: 0;

    &::before {
      display: none;
    }
  }

  img {
    width: auto;
    height: 9px;

    @include media-sm {
      height: 13px;
    };

    @include media-md {
      height: 17px;
    };
  }
}

#slogan {
  @include ml-auto;
  display: none;

  @include media-sm {
    display: block;
  };

  h2 {
    font-family: "Gilroy";
    @include font-size(.6);
    font-weight: bold;

    line-height: 1;
    letter-spacing: 2px;
    text-transform: uppercase;

    @include media-sm {
      @include font-size(.9);
    };

    @include media-md {
      @include font-size(1.1);
    };
  }
}
