.btn {
  &-primary {
    @include btn-primary;
  }

  &-secondary {
    @include btn-secondary;
  }

  &-clear {
    @include btn-clear;
  }

  &-big {
    @include btn-big;
  }

  &-small {
    @include btn-small;
  }
}
