[data-animation-body] {
  // overflow: hidden;
  // position: fixed;
  // top: 0;
  // left: 0;
  // width: 100%;
  // height: 100%;

  &.admin-bar {
    top: 46px;

    @media (min-width: 783px) {
      top: 32px;
    }
  }

  // Initial state
  #header {
    // @include prefix((transform: translateY(-100%)));
    opacity: 0;
    @include transition(opacity 650ms ease-in-out);
  }

  .content-block {
    &.__home-intro-animation {
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        background: $color-overlay;

        @include transition(background 1950ms ease-in-out);

        z-index: 1;
      }

      .content-image {
        img {
          @include prefix((transform: scale(1)));
          // @include transition(transform 2600ms cubic-bezier(0.43, 0.09, 0, 1));
          // @include transition(transform 6000ms cubic-bezier(0.2, 0, 0.25, 1));
          @include transition(transform 6000ms cubic-bezier(0, 0, 0.1, 1));

        }
      }

      .content-block {
        &-wrapper {
          &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            // @include linear-gradient(to right, rgba(140,142,163,0.75) 0%, rgba(51,48,63,1) 100%);
            // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf8c8ea3', endColorstr='#33303f',GradientType=1 ); /* IE6-9 */

            background: $color-overlay;

            opacity: 0;
            z-index: -1;

            @include transition(opacity 1950ms ease-in-out);
          }
          background: none;
        }

        &-text {
          @include flexbox;
          @include prefix((align-items: center), ms);
          @include prefix((justify-content: center), ms);

          min-height: 40px;

          opacity: 0;

          @include transition(opacity 2600ms ease-in-out);

          @include media-sm {
            min-height: 82px;
          };

          @include media-md {
            min-height: 124px;
          };

          @include media-lg {
            min-height: 164.7px;
          };
        }

        &-image {
          @include col-12;

          position: absolute;
          top: 50%;
          left: 0;

          text-align: center;

          @include prefix((transform: translateY(-50%)));
          @include transition(opacity 1300ms ease-in-out);

          opacity: 0;
          z-index: -1;

          img {
            @include transition(width 1300ms ease-out);

            width: 96px;

            @include media-sm {
              width: 160px;
            };

            @include media-md {
              width: 224px;
            };
          }
        }
      }
    }
  }

  #footer {
    opacity: 1;
  }

  &[data-step-1] {

  }

  &[data-step-2] {
    .content-block {
      &.__home-intro-animation {
        .content-block {
          &-image {
            opacity: 1;

            img {
              width: 132px;

              @include media-sm {
                width: 220px;
              };

              @include media-md {
                width: 308px;
              };
            }
          }
        }
      }
    }
  }

  &[data-step-3] {
    .content-block {
      &.__home-intro-animation {
        .content-block {
          &-text {
            opacity: 1;
          }
        }
      }
    }
  }

  &[data-step-4] {
    .content-block {
      &.__home-intro-animation {
        &::before {
          background: transparent;
        }

        .content-image {
          img {
            @include prefix((transform: scale(1.14583333)));
          }
        }

        .content-block {
          &-image {
            opacity: 0;
            @include transition(opacity 1300ms ease-in-out);
          }

          &-wrapper {
            &::before {
              opacity: 1;
            }
          }
        }
      }
    }
  }

  &[data-step-5] {

  }

  &[data-step-6] {
    // position: static;
    // overflow: auto;

    #header {
      opacity: 1;
    }
  }

  &[data-step-7] {
    .content-block {
      &.__home-intro-animation {


        .content-block {
          &-image {
            @include col-2;

            text-align: right;

            opacity: 1;

            @include prefix((transform: none));
            @include transition(opacity 1950ms ease-in-out);

            img {
              @include transition(width 0s);
              width: 40px;

              @include media-sm {
                width: 120px;
              };
            }
          }
        }
      }
    }
  }
}
