[data-toggle="collapse"] {
  @include icon-font-prep;
  @extend .icon-chevron-down;
  cursor: pointer;

  &::before {
    position: absolute;
    top: .6rem;
    left: -9.1%;

    font-size: .4em;

    z-index: 1;

    @include transition(all 450ms ease-in-out);

    @include media-sm {
      font-size: .33333em;
      top: 1rem;
    };

    @include media-md {

      top: 1.2rem;
    };

    @include media-lg {
      top: 2.1rem;
    };
  }

  &[aria-expanded="true"] {
    &::before {

    }
  }

  &[aria-expanded="false"] {
    &::before {
      @include prefix((transform: scaleY(-1)))
    }
  }
}

[id*="accordion-"],       // FF transition bug fix
.collapse,
.collapsing {
  @include transition(height 650ms ease-in-out);
}
