#wpgmza_map {
  color: black;
  letter-spacing: normal;

  min-height: 205px;        // Bugfix: Not showing up on iPads
  max-height: 205px !important;

  @include media-sm {
    max-height: none !important;
    min-height: 301px;        // Bugfix: Not showing up on iPads
  };

  @include media-md {
    min-height: 237px;        // Bugfix: Not showing up on iPads
  };

  @include media-lg {
    min-height: 301px;        // Bugfix: Not showing up on iPads
  };
}

#google-maps-wrapper {
  @include prefix((align-self: stretch), ms);
  min-height: 205px;

  @include media-sm {
    min-height: 301px;
  };

  @include media-md {
    min-height: 237px;
  };

  @include media-lg {
    min-height: 301px;
  };
}
