#language-switch {
  @include col;
  @include col-sm-7;
  @include flexbox;
  @include prefix((justify-content: flex-end));
  @include prefix((align-self: center));

  ul {
    @include inline-nav(0);
    margin: 0;
  }

  li {
    @include font-size(1.6);
    font-family: 'Gilroy';
    line-height: 1;
    letter-spacing: 6px;

    margin: 0;

    @include media-sm {
      @include font-size(2.4);
    };

    &.current-lang {
      display: none;
    }
  }

  a {
    padding: 0;
    border: 0;
  }
}
