[data-scrollspy] {
  opacity: 0;
  @include prefix((transform: translateY(50px)));

  @include transition(opacity 600ms cubic-bezier(.59,.01,.28,1), transform 900ms cubic-bezier(.59,.01,.28,1));


  &.in-view {
    opacity: 1;
    @include prefix((transform: translateY(0)));
  }

  // Sideway content special case
  &.__sideway-content {
    opacity: 1;
    @include prefix((transform: translateY(0)));

    .content-block-wrapper {
      opacity: 0;
      @include prefix((transform: translateY(50px)));

      @include media-md {
        opacity: 0;
        @include prefix((transform: translateY(50px)));
      };

      @include transition(opacity 600ms cubic-bezier(.59,.01,.28,1), transform 900ms cubic-bezier(.59,.01,.28,1));
    }

    &.in-view {
      .content-block-wrapper {
        opacity: 1;
        @include prefix((transform: translateY(0)));
      }
    }
  }
}
